@import "tailwindcss";
/* 🌑 Black (#0F172A) – background 🌕 Gold/Yellow (#FACC15) – highlights / progress bar 🌿 Sage Green (#A3E635) – accents ⚪ White (#F8FAFC) – text */
@theme {
  --font-modak: "Modak", cursive;
  --font-inter: "Inter", sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  color: #274519;
}
